@import '../../../../assets/colors';

:host {
  flex: 1;
  padding: 30px;
  overflow: auto;

  cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    card {
      background: #fff;
      padding: 20px;
      margin: 0 20px;
      width: 100%;
      font-weight: 100;
      border-radius: 3px;
      box-shadow: 0 0 10px #ccc;
      flex-direction: column;
      display: flex;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      heading {
        text-align: left;
        font-size: 18px;
        color: $color-regular;
      }
      number {
        text-align: right;
        font-size: 52px;
        font-weight: 100;
        color: $color-regular;
      }

      progress {
        -webkit-appearance: none;
        border: none;
        height: 5px;

        &::-webkit-progress-bar {
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 50px;
          padding: 1px;
        }

        &::-webkit-progress-value {
          border-radius: 50px;
          background: $color-regular;
        }
      }

      pills {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        flex-direction: row;
        flex-wrap: wrap;

        pill {
          color: $color-regular;
          padding: 10px 20px;
          border: 1px solid $bg;
          border-radius: 3px;
          margin: 0 5px 10px 0;
          flex-direction: column;
          display: flex;
          width: 6vw;

          &:hover {
            border-color: $base-app-color;
            cursor: pointer;
          }

          heading {
            font-size: 16px;
            font-weight: 100;
          }
          number {
            text-align: left;
            font-weight: 600;
            font-size: 16px;
            color: $color-regular;
          }
        }
      }

      .wrap {
        overflow: auto;
        height: -webkit-fill-available;
        margin: 10px 0 0 0;
      }

      .starred {
        margin: 10px 0;
        border-top: 1px dotted $bg;
        padding: 20px 0 5px;
        display: flex;

        &:first-of-type {
          border: none;
          padding: 10px 0 0;
        }

        > .text {
          margin: 0 0 0 20px;
        }

        tag {
          color: $header-bg-light;
        }
      }
    }
  }

  .hash {
    opacity: .2;
  }

}
