<div *mobxAutorun>
  <h2>Gisto settings</h2>

  <h3>Look & feel</h3>

  <p>Color
    <input type="color" (change)="changeColor($event)" value="{{ settings.color }}"/><br>
    Current color: {{ settings.color }}
  </p>

  <p>Theme
    <select (change)="changeTheme($event)">
      <option *ngFor="let theme of themes" value="{{ theme.value }}" [attr.selected]="settings.theme==theme.value">{{ theme.displayName }}</option>
    </select>
  </p>

  <p>Animations
    <select>
      <option *ngFor="let animation of animations" value="{{ animation.value }}">{{ animation.displayName }}
      </option>
    </select>
  </p>

  <h3>Editor</h3>

  <h3>Defaults</h3>
</div>
