:host {

  form {
    height: calc(100vh - 36px - 50px);
  }

  .content-wrapper {
    padding: 0 20px;
    overflow: auto;
    height: calc(100vh - 50px);
    margin: 0;
  }

  input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #3f83a8;
    background: #fff;
    width: 300px;
    [placeholder] {
      color: red;
    }
  }

  input[type="checkbox"] {
    -webkit-appearance: radio;
  }

  td-code-editor {
    height: 100px;
    border-bottom: 1px solid #3f83a8;
  }

  .selected-tags {
    margin: 0 5px 5px 0;
    display: inline-flex;
    background: transparent;
    border: 1px solid #3f83a8;
    color: #3f83a8;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    vertical-align: middle;
    icon {
      cursor: pointer;
    }
  }
  .add-tags {
    font-size: 12px;
    color: #3f83a8;
  }

  .tag-suggestions {
    background: #fff;
    padding: 20px;
    margin: 0;
    position: absolute;
    z-index: 1;
    width: calc(100vw - 80px);
  }

  .add-new-tag-input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #3f83a8;
  }
}
