os: unstable
cache:
  - node_modules
environment:
  matrix:
    - nodejs_version: 9
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - set NODE_ENV=production
  - npm install -g npm@latest cross-env rimraf @angular/cli
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
matrix:
  fast_finish: true
build: off
version: '{build}'
shallow_clone: true
clone_depth: 1
test_script:
  - npm run pack:build
