<logo>&lt;/Gisto&gt;</logo>
<header-main>
        <a class="toggle-side-pannels"><i class="fa fa-bars" aria-hidden="true"></i></a>
</header-main>
<app-settings>
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <i class="fa fa-bell-o" aria-hidden="true"></i>
    <i class="fa fa-cog" aria-hidden="true"></i>
</app-settings>
<user>
    <img src="https://lh3.googleusercontent.com/-cUfd1s_hV90/AAAAAAAAAAI/AAAAAAAAAAA/AAyYBF7kC3GJJpKrixvfTyjVMZXAhMs8Mw/s64-c-mo/photo.jpg"
          alt="">
    <a href="">sanusart</a> <i class="fa fa-angle-down" aria-hidden="true"></i>
</user>