.nav-btn {
    float: left;
    position: absolute;
    left: 10px;
}

.star-single-gist {
    float: right;
}

.public-or-private-single-gist {
    float: right;
    margin: 0px 10px 0px 0px;
}

.toolbox-title {
    padding: 10px;
    font-size: 80%;
    color: #555;
}

.toolbox-title input.edaitable {
    margin: 0;
    padding: 5px;
    width: 100%;
    border-width: 1px;
    border-radius: 3px;
}

div.toolbox a {
    padding: 2px 5px;
}

.toolbox-buttons {
    position: absolute;
    right: 37px;
    top: 118px;
}

.toolbox-buttons a {
    display: block;
    margin: 5px;
    padding: 6px !important;
    text-align: center;
}

.date_meta .notification div {
    top: 132px;
}

textarea.mobile-edit {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
}

.the-gist-name input.edaitable {
    width:96%;
    z-index: 99;
}
.messenger {
    display: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    bottom:initial;
    z-index: 10;
    right: 0;
    border-radius: 0;
    box-shadow: 1px 1px 5px #000;
    width: 100%;
    min-height: 51px;
    line-height: 30px;
}

