.nav-btn {
    float: left;
    position: absolute;
    left: 10px;
}

.star-single-gist {
    float: right;
}

.public-or-private-single-gist {
    float: right;
    margin: 0px 10px 0px 0px;
}

div.toolbox {
    position: relative;
}



.toolbox-title {
    padding: 10px;
    font-size: 80%;
    color: #555;
}

.toolbox-title input.edaitable {
    margin: 0;
    padding: 5px;
    width: 100%;
    border-width: 1px;
    border-radius: 3px;
}

div.toolbox a {
    padding: 2px 5px;
}

.toolbox-buttons {
    position: absolute;
    right: 37px;
    top: 30px;
    z-index: 2;
}

.toolbox-buttons a {
    display: block;
    margin: 5px;
    padding: 6px !important;
    text-align: center;
}

.date_meta .notification div {
    top: 40px;
}

textarea.mobile-edit {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
}

.the-gist-name input.edaitable {
    width: 96%;
    z-index: 1;
}

.messenger {
    display: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    bottom: initial;
    z-index: 10;
    right: 0;
    border-radius: 0;
    box-shadow: 1px 1px 5px #000;
    width: 100%;
    min-height: 51px;
    line-height: 30px;
}

.hide-only {
    dispaly: none;
    -webkit-flex: 0;
}

.ace_scrollbar,
.ace_scrollbar-h {
    z-index: 4 !important;
}

.files-drop-down div {
    z-index: 6;
}

.notification div {
    top: 49px;
    right: 36px;
}

.notification div:after {
    margin-left: -137px;
}

.notification div:before {
    margin-left: -138px;
}

aside header input {
    width: 45%;
}


#gisto-list,
#gisto-list.show {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    float:left;
    display: inherit;
}

#gisto-content {
    float:right;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#gisto-list.show + #gisto-content {
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -webkit-backface-visibility: hidden;
}

#gisto-list + #gisto-content {
    position: absolute;
    left:0 !important;
    -webkit-transition: -webkit-transform 500ms ease;
    -webkit-backface-visibility: hidden;
}

body {
    overflow-x: hidden !important;
}