@import "../../../../assets/colors.scss";
:host {
    white-space: nowrap;
    padding: 0 40px 0 0;
    a {
      color: $header-color;
      margin: 0 0 0 10px;
    }
    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid $header-color;
    }
    &:hover {
      transition: all .3s ease-out;
      &:hover {
        color: tomato;
      }
    }

  i {
    color: #fff;
  }
  ul {
    top: 37px;
    a, i {
      color: inherit;
    }
  }
  }
