@import '../../../../assets/colors';

:host {
  flex: 1;

  .content-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);

    h2 {
      margin-bottom: 0;
    }

    a {
      color: $base-app-color;
    }
  }
}
