<header>

    <span class="type {{isPublic | publicOrPrivet}}"><i class="fa fa-{{isPublic | publicOrPrivet}}"></i></span>
    <span class="gist-title">{{description | truncate:80}}</span>
    <ng-include class="flex-row" src="'partials/header.html'" data-ng-controller="headerController"></ng-include>
</header>

<div class="messengers">
    <div class="messenger edit">
        <i class="fa fa-pencil-square-o"> </i>
    <span>Edit mode <b>on</b> <a href="" data-ng-click="save()">save</a> | <a data-ng-click="disableEdit()"
                                                                              title="changes wont be saved">cancel</a></span>
    </div>

    <div class="messenger drop">
        <span>Drag detected - now drop!</span>
    </div>

    <div class="messenger delete-file warn">
        <i class="fa fa-exclamation-triangle"> </i>
    <span>Are you sure you want to <b>delete</b> {{ fileToDelete }}? | <a href=""
                                                                          data-ng-click="deleteFile(fileToDelete)">Yes!</a>
        <a href="" data-ng-click="cancelDeleteFile()">Cancel</a></span>
    </div>

    <div class="messenger warn notification-error">
        <i class="fa fa-exclamation-triangle"> </i>
        <span>Server connection lost, please try again later.</span>
    </div>

    <div class="messenger warn files-error">
        <i class="fa fa-exclamation-triangle"> </i>
        <span>You must have at least 1 file in order to save.</span>
    </div>

</div>

<div class="toolbox">

    <a href="" data-ng-click="addFile()">Add new file</a>
    <a href="" data-ng-click="save()">Save</a>

</div>

<section ui-keydown="{'ctrl-83':'update($event)'}"
         ui-event="{ dragover : 'dragStart($event)', dragend: 'dragEnd($event)', drop: 'drop($event)' }">

    <h1>Create gist</h1>
    <input ui-keydown="{'ctrl-83':'save($event)'}" type="text" data-ng-model="description" class="desc"
           placeholder="Description">
    <input class="toggle" id="isItPublic" ng-checked="isPublic" type="checkbox" data-ng-model="isPublic"><label for="isItPublic"></label> Public

    <div data-ng-repeat="file in files">
        <input ui-keydown="{'ctrl-83':'save($event)'}" ng-pattern="/^[A-Za-z0-9\.\-\_\ ]*$/" type="text" data-ng-model="file.filename" placeholder="Filename">

        <div class="the-gist" onload="initEditors()">

            <div class="the-gist-name">
                <i class="fa fa-file-o"></i> <b>{{file.filename || 'filename'}}</b>
                <a data-ng-click="deleteFile($index)" data-file-index="{{$index}}"
                   title="Delete {{file.filename}}"><i class="fa fa-times"></i></a>

                <ui-select ng-init="file.syntax = {name: 'HTML', value: 'html'}" ng-model="file.syntax" theme="selectize" append-to-body="true">
                    <ui-select-match placeholder="Select a language">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="language as language in syntaxRepo | filter: $select.search">
                        <div ng-bind-html="language.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <editor ui-keydown="{'ctrl-83':'save($event)'}" syntax="{{file.syntax.value}}" language="html" index="{{$index}}"
                    data-ng-model="file.content"></editor>
        </div>

    </div>

</section>

<ng-include src="'partials/footer.html'" data-ng-controller="footerCtrl"></ng-include>
