<header ng-class="{update:updateAvailable}">
    <ng-include src="'partials/header.html'" data-ng-controller="headerController"></ng-include>
</header>

<section id="empty" class="dashboard">

    <div class="dash-container">
        <div class="dash-item">
            <p>You've got:</p>

            <p class="text-xxx-large">Total <b>{{ gists.length }}</b> Gists</p>

            <p class="text-x-large">{{private.length}} are <b>Private</b></p>

            <p class="text-x-large">XXX are <b>Starred</b></p>
        </div>

            <div class="dash-item tabs">

                <div class="tab">
                    <input type="radio" id="tab-1" name="tab-group-1" checked>
                    <label for="tab-1">News</label>
                    <div class="content">
                        <pre>{{license}}</pre>
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-2" name="tab-group-1">
                    <label for="tab-2">Changes</label>
                    <div class="content" ng-bind-html-unsafe="changes | markDown">
                    </div>
                </div>

                <div class="tab">
                    <input type="radio" id="tab-3" name="tab-group-1">
                    <label for="tab-3">Issues</label>

                    <div class="content">
                        <ul>
                        <li ng-repeat="issue in issues">
                            <span class="pills gist-comment {{issue.state}}">{{issue.state}}</span> {{issue.updated_at | date:'medium'}}<br />
                            <a to-url="{{issue.html_url}}">{{issue.title}}</a> - #{{issue.number}}
                        </li>
                        </ul>
                    </div>
                </div>

            </div>

    </div>



</section>
