<section id="empty">Please select gist from the list
    <br />
    ⤶

    <hr>




    <h1> Thanks for trying <i class="icon-angle-left"></i>/Gisto<i class="icon-angle-right"></i></h1>

    <p>
        <b><i class="icon-angle-left"></i>/Gisto<i class="icon-angle-right"></i></b> is a small, cross-platform desktop application
        that will try hard to let you manage gists from <i class="icon-github"></i> github in a more comfortable way.
    </p>

    <h2>
        <b><i class="icon-angle-left"></i>/Gisto<i class="icon-angle-right"></i></b> made of:
    </h2>
    <ul>
        <li>node.js</li>
        <li>angular.js by Google</li>
        <li>node-webkit</li>
    </ul>



</section>