<a class="button" data-ng-controller="logoutCtrl" data-ng-click="logOut()" title="Log out"><i
        class="update icon-signout"></i></a>

<a class="button" onclick="document.location.href = '#/settings'" title="General settings"><i
        class="settings icon-cog"></i></a>

<a class="button" onclick="document.location.href = '#/create'" title="Create new Gist"><i class="create icon-file"></i></a>

<img data-ng-src="{{avatar}}" class="button gravatar" title="{{single.user.login}}"/>

<a class="button notification" onclick="" title="Notification" ng-show="notifications.length > 0">
    <i class="notify icon-flag">
        <span class="bubble">{{ notifications.length }}</span>


        <div ng-show="notifications.length > 0">
            <ul>
                <li ng-repeat="item in notifications" ng-click="loadExternalGist(item.gistId, item.sender)">
                    <img data-ng-src="{{avatar}}" class="gravatar" title="{{single.user.login}}"/>
                    <strong>{{ item.sender }}</strong> shared: <br/>
                    <strong>{{ item.name | removeTags }}</strong> with you.
                </li>
            </ul>
        </div>

    </i>
</a>



