<img data-ng-src="{{avatar}}" class="gravatar" title="{{single.user.login}}"/>

<a onclick="" title="Notification"><i class="notify icon-flag"><span class="bubble" ng-show="notifications.length > 0">{{ notifications.length }}</span></i></a>

<a onclick="document.location.href = '#/create'" title="Create new Gist"><i class="create icon-file"></i></a>

<a data-ng-controller="logoutCtrl" data-ng-click="logOut()" title="Log out"><i class="update icon-signout"></i></a>
<a onclick="document.location.href = '#/settings'" title="General settings"><i class="settings icon-cog"></i></a>