<div class="login-form">

    <header>
        <h1>&lt;/Gisto&gt;</h1>
    </header>

    <div class="messenger warn">
        <i class="fa fa-exclamation-triangle"> </i>
        <span>Warning</span>
    </div>

    <div class="messenger info">
        <i class="fa fa-info-circle"> </i>
        <span>2 Factor authentication token needed</span>
    </div>

    <form data-ng-submit="submit()" class="login-animation" data-ng-show="!useManualToken && !showEnterpriseSetup">

        <div data-ng-hide="step2">
            <input type="text" data-ng-model="user" placeholder="GitHub username/e-mail" required autofocus>
            <input type="password" data-ng-model="pass" placeholder="GitHub password" required/>
        </div>
        <div data-ng-show="step2">
            <input type="text" data-ng-model="code" placeholder="Authenticator token">

        </div>
        <input type="submit" value="login"/>
        <p data-ng-show="step2"><a href="#" data-ng-click="step1()"><i class="fa fa-arrow-left"></i> Re-enter username/password</a></p>

        <p><a class="login-mode-btn" data-ng-click="toggleManualToken()">Enter Access Token</a>
            <a data-ng-if="enterpriseMode" class="login-mode-btn" data-ng-click="showEnterprise()">Enterprise Setup</a></p>
        <p>No account yet? Sign-up at <a to-url="https://github.com/signup/free" href="">GitHub</a></p>

        <i data-ng-show="spinner" class="spiner fa fa-spinner fa-spin"></i>
    </form>

    <form data-ng-show="showEnterpriseSetup" class="login-animation">
        <input type="text" data-ng-model="enterprise.api_url" placeholder="API Url http://gh.local/api/v3" />
        <input type="text" data-ng-model="enterprise.client_id" placeholder="Client ID" />
        <input type="text" data-ng-model="enterprise.client_secret" placeholder="Client Secret" />
        <p><button data-ng-click="saveEnterpriseConfig()">Save</button></p>
        <p><button data-ng-click="hideEnterprise()">Cancel</button></p>
    </form>

    <form data-ng-show="useManualToken" class="login-animation">
        <input type="text" data-ng-model="manualToken" placeholder="Token" required />
        <p><input data-ng-click="manualLogin()" type="submit" value="Login" /></p>
        <p><button data-ng-click="toggleManualToken()">Cancel</button></p>
        <p>You can generate access token at <a to-url="https://github.com/settings/applications">GitHub</a></p>
    </form>

    <toggle data-ng-click="toggleEnterpriseMode()" data-ng-model="enterpriseMode" text="Enterprise mode"></toggle> {{enterpriseMode === true ? 'on':'off'}}

    <a class="auth-help"> ? <div>

        <span data-ng-if="enterpriseMode">
            In order to connect to your GitHub Enterprise instance please fill the following fields:
            <br />
            API Url, Client Id and Client Secret.
            <br /><br/>
            In order to get the Client Id and Secret you need to open an application in your GitHub account
            or get them from the person who has opened an application in your organization for Gisto.
            <br/>
            API url is your instance address plus /api/v3 e.g: http://ghe.local/api/v3
            <br /><br/>
            To open an application please go to Account Settings -> Applications and click Register new application
            <br />
            In the application name type in Gisto
            And type in http://www.gistoapp.com in the homepage url.
            <br />
            Once you save the application the Client Id and Client Secret tokens should be visible at the
            top of the screen.
        </span>
        <span data-ng-if="!enterpriseMode">
        Gisto authenticates to GitHub by using basic authentication over SSL and retrieving an oAuth2 token. Thus the need for your GitHub user and password.
        <br /><br />
        Gisto <em>only saves</em> the oAuth2 token received after authenticating and <em>nothing else</em>.
        <br /><br/>
        If you would rather to supply your own access token without providing Gisto your login details you may manually create an access token
        from the account settings at GitHub and login using the generated token.
        <br/><br/>
        This token will be saved permanently until you log out.
        <br/><br/>
        To use Gisto in <b>enterprise</b> mode, please use the switch above to turn it on.
    </span>
    </div></a>


</div>

