<div class="login-form">

    <header>
        <h1><i class="icon-angle-left"></i>/Gisto<i class="icon-angle-right"></i></h1>
    </header>

    <div class="messenger warn">
        <i class="icon-warning-sign"> </i>
        <span>Warning</span>
    </div>

    <div class="messenger info">
        <i class="icon-info-sign"> </i>
        <span>2 Factor authentication token needed</span>
    </div>

    <form data-ng-submit="submit()" data-ng-show="!useManualToken">

        <div data-ng-hide="step2">
            <input type="text" data-ng-model="user" placeholder="GitHub username/e-mail" required autofocus>
            <input type="password" data-ng-model="pass" placeholder="GitHub password" required/>
        </div>
        <div data-ng-show="step2">
            <input type="text" data-ng-model="code" placeholder="Authenticator token">

        </div>
        <input type="submit" value="login"/>
        <p data-ng-show="step2"><a href="#" data-ng-click="step1()"><i class="icon-arrow-left"></i> Re-enter username/password</a></p>

        <p>No account yet? Sign-up at <a to-url="https://github.com/signup/free" href="">GitHub</a></p>
        <p><a data-ng-click="toggleManualToken()">Enter Existing Access Token</a></p>


        <i data-ng-show="spinner" class="spiner icon-spinner icon-spin"></i>
    </form>

    <form data-ng-show="useManualToken" >
        <input type="text" data-ng-model="manualToken" placeholder="Token" required />
        <p><input data-ng-click="manualLogin()" type="submit" value="Login" /></p>
        <p><button data-ng-click="toggleManualToken()">Cancel</button></p>
        <p>You can generate access token at <a to-url="https://github.com/settings/applications">GitHub</a></p>
    </form>

    <a class="auth-help" href="#"> ? <div>By default, Gisto is using oAuth via github API.
        In order for you to get authenticated, you need to generate access token.<br />
        That is why GitHub username and password is asked by Gisto. After first authentication - only the generated token used to bridge between github and your gisto installation up to the point when you log out of gisto - action which terminates the token.<br />
    <br />Other options of authentication are:
        <ul>
            <li>Manualy generated token</li>
            <li>2-step authentication (if 2 step authentication is active in your account)</li>
        </ul>
    </div></a>


</div>

