<div class="messenger warn">
    <i class="icon-warning-sign"> </i>
    <span>Warning</span>
</div>
<div class="login-form">


    <header>
        <h1><i class="icon-angle-left"></i>/Gisto<i class="icon-angle-right"></i></h1>
    </header>

    <form data-ng-submit="submit()">
        <input type="text" data-ng-model="user" placeholder="GitHub username/e-mail" required>
        <input type="password" data-ng-model="pass" placeholder="GitHub password" required/>
        <input type="submit" value="login"/>

        <i data-ng-show="spinner" class="spiner icon-spinner icon-spin"></i>
    </form>

</div>

