<header>
    <ng-include src="'partials/header.html'" data-ng-controller="headerController"></ng-include>

    <span class="" data-ng-hide></span>
    <i class="icon-wrench"></i> Settings
</header>

<form data-ng-controller="settingsCtrl">

    <div class="toolbox">

        <a data-ng-click="update_settings()">update</a>

    </div>

    <section>

        <h1>Settings:</h1>

        <details>
            <summary>Look &amp; feel</summary>

            <p>Set Gisto theme to <select data-ng-model="theme">
                <option data-ng-repeat="theme in themes">{{theme}}</option>
            </select></p>

            <p>Animations are <select data-ng-model="anim">
                <option value="0">Disabled</option>
                <option value="1">Enabled</option>
            </select></p>

        </details>

        <details>
            <summary>Editor</summary>

            <p>Set editor theme to <select data-ng-model="editor_theme">
                <option data-ng-repeat="editor_theme in editor_themes">{{editor_theme}}</option>
            </select></p>

            <p>Set editor font size to <select data-ng-model="font_size">
                <option data-ng-repeat="font_size in font_sizes">{{font_size}}</option>
            </select> pixel
            </p>

            <p>Set minimum editor height to <input type="text" data-ng-model="min_height"/> <b>pixels</b> (<i>leave
                empty to fit content</i>)
            </p>

            <p>Limit editor height to <input type="text" data-ng-model="max_height"/> <b>pixels</b> (<i>leave empty for
                unlimited</i>)
            </p>

            <p><input type="checkbox" data-ng-model="editor_ext.emmet"/> Enable 'Emmet' for <i>.html</i> files
            </p>
            <p><input type="checkbox" data-ng-model="editor_ext.statusbar"/> Enable status bar
            </p>
            <p><input type="checkbox" data-ng-model="editor_ext.autocompletion"/> Enable auto-completion
            </p>
        </details>

    </section>

</form>
