<header>
    <span class="gist-title"><i class="fa fa-wrench"></i> Settings</span>
    <ng-include class="flex-row" src="'partials/header.html'" data-ng-controller="headerController"></ng-include>
</header>

<form class="settings flex" data-ng-controller="settingsCtrl">

    <div class="toolbox wide">
<span class="date_meta">
        <a data-ng-click="import_settings('#importFile')">import</a>
        <input style="display:none;" id="importFile" type="file"/>
        <a data-ng-click="export_settings()">export</a>
    </span>
        <a data-ng-click="update_settings()">update</a>

    </div>

    <section>

        <h1>Settings:</h1>

        <details>
            <summary>Look &amp; feel</summary>

            <p>Set Gisto theme to <select data-ng-model="theme">
                <option data-ng-repeat="theme in themes">{{theme}}</option>
            </select></p>

            <p>Animations are <select data-ng-model="anim">
                <option value="0">Disabled</option>
                <option value="1">Enabled</option>
            </select>
            </p>

            <p>UI size {{ ui_zoom }}%<br/>
                - <input type="range" ng-model="ui_zoom" min="80" value="100" max="120"> +
            </p>

        </details>

        <details>
            <summary>Editor</summary>

            <p>set editor theme to <select data-ng-model="editor_theme">
                <option data-ng-repeat="editor_theme in editor_themes">{{editor_theme}}</option>
            </select>
                </p>
            <p>set editor font size to <select data-ng-model="font_size">
                <option data-ng-repeat="font_size in font_sizes">{{font_size}}</option>
            </select> pixel
            </p>

            <p>set editor TAB size to <input type="text" data-ng-model="editor_tab_size"/> Default: 4
            </p>

            <p>set minimum editor height to <input type="text" data-ng-model="min_lines"/> <b>lines</b> (<i>leave
                empty to fit the file</i>)
            </p>

            <p>limit editor height to <input type="text" data-ng-model="max_lines"/> <b>lines</b> (<i>default 50</i>)
            </p>

            <toggle data-ng-model="editor_ext.emmet" text="enable 'emmet' for <i>.html</i> files"></toggle>
            <br/>
            <toggle data-ng-model="editor_ext.statusbar" text="enable status bar"></toggle>
            <br/>
            <toggle data-ng-model="editor_ext.autocompletion" text="enable auto-completion"></toggle>
            <br/>
            <toggle data-ng-model="editor_vim_mode" text="enable vim mode"></toggle>
            <br/>
            <toggle data-ng-model="editor_word_wrap" text="enable word wrap"></toggle>

        </details>

        <details><summary>Defaults</summary>

            <toggle data-ng-model="new_gist_public" text="New Gists I create are public"></toggle>
            <br/>
            <toggle data-ng-model="gist_cs_wrap_search" text="Search by Gists description in a case sensitive and wrappable way (example: search: 'ISV', result: 'Ionic Simple View', 'Ionic Material Simple View')"></toggle>

        </details>

    </section>

</form>

<div class="messengers">
    <div class="messenger ok template">
        <i class="fa fa-check-circle"> </i>
        <span>Settings Saved</span>
    </div>
</div>