<header>

    <ng-include src="'partials/header.html'" data-ng-controller="headerController"></ng-include>

    <span data-ng-switch on="gist.single.starred">
        <span data-ng-switch-when="true">
    <a data-ng-click="unstar()" title="unStar"><i class="star icon-star"></i></a>
        </span>
        <span class="" data-ng-switch-default>
    <a data-ng-click="star()" title="Star"><i class="star icon-star-empty"></i></a>
        </span>
</span>

    <span class="type {{gist.public | publicOrPrivet}}"><i class="icon-{{gist.public | publicOrPrivet}}"></i></span>

    <span data-ng-switch on="edit">
        <span data-ng-switch-when="true">
            <input ui-keydown="{'ctrl-83':'update($event)'}" class="edaitable" data-ng-model="gist.description">
        </span>
        <span class="title" data-ng-switch-default>
            {{(gist.description | removeTags | truncate:80) || 'Untitled'}}
        </span>
    </span>


</header>

<div class="messenger">
    <i class="icon-lightbulb"></i>
    <span>Simple notification</span>
</div>

<div class="messenger info">
    <i class="icon-info-sign"> </i>
    <span>Informative notification</span>
</div>

<div class="messenger warn">
    <i class="icon-warning-sign"> </i>
    <span>Warning</span>
</div>

<div class="messenger ok">
    <i class="icon-ok-sign"> </i>
    <span>Success</span>
</div>

<div class="messenger loading">
    <i class="icon-spin icon-spinner"> </i>
    <span>Loading...</span>
</div>

<div class="messenger edit">
    <i class="icon-edit"> </i>
    <span>Edit mode <b>on</b> <a href="" data-ng-click="update()">update</a> | <a data-ng-click="disableEdit()"
                                                                                  title="changes wont be saved">cancel</a></span>
</div>

<div class="messenger delete warn">
    <i class="icon-warning-sign"> </i>
    <span>Are you sure you want to <b>delete</b> this gist? | <a href="" data-ng-click="del()">Yes!</a>
        <a href="" data-ng-click="cancelDeleteGist()">Cancel</a></span>
</div>

<div class="toolbox">

    <span class="date_meta">
        <b>Revisions:</b> <i>{{gist.single.history.length}}</i> <b>Created:</b> <i>{{ gist.single.created_at |
        date:'dd/MM/yyyy HH:mm:ss' }}</i>
        <b>Updated:</b> <i>{{ gist.single.history[0].committed_at | date:'dd/MM/yyyy HH:mm:ss'}}</i>
    </span>

    <a data-ng-click="addFile()" title="Add new file to this gist">Add file</a>

    <span class="toolbtn" data-ng-switch on="edit">
        <span class="toolbtn" data-ng-switch-when="true">
            <a data-ng-click="update()" title="Save all changes">Update</a>
        </span>
        <span class="toolbtn" data-ng-switch-default>
            <a data-ng-click="enableEdit(gist.single.files,gist.description)" title="Edit this gist">Edit</a>
        </span>
    </span>

    <a data-ng-click="goToSite('http://plnkr.co/edit/gist:{0}?p=preview',[gist.single.id])" title="Open gist in 'plunker'">Plunker</a>

    <a class="share-drop-down" data-ng-click="dropdown.share.show=!dropdown.share.show" title="Share this Gist">Share
        <div data-ng-show="dropdown.share.show">
            <input data-ng-click="dropdown.share.show=!dropdown.share.show" type="text" ng-model="userToShare"
                   placeholder="GisHub user name"/>
            <input type="submit" value="share" data-ng-click="share()"/>
        </div>
    </a>

    <a data-ng-href="https://gist.github.com/{{gist.single.user.login}}/{{gist.single.id}}/download"
       download="gist.tar.gz" title="Download this gist as single tarball">Download</a>
    <a data-ng-click="copyToClipboard('https://gist.github.com/{{ gist.user.login }}/{{ gist.id }}.js', 'Embed code copied to clipboard','embed')"
       title="Copy embed code to clipboard">Embed</a>
    <a data-ng-click="warnDeleteGist()" href="" title="Delete this gist">Remove</a>

    <a class="files-drop-down" data-ng-click="dropdown.show=!dropdown.show" title="List files">
        <i class="icon-sort-down"></i>

        <div data-ng-show="dropdown.show">
            <p class="scroller" data-ng-repeat="file in gist.single.files" scroll-to="file-{{$index}}"><i
                    class="icon-file"></i> {{file.filename}}</p>
        </div>
    </a>


</div>

<section ui-keydown="{'ctrl-83':'update($event)'}"
         ui-event="{ dragover : 'dragStart($event)', dragend: 'dragEnd($event)', drop: 'drop($event)' }">

    <div class="the-gist" data-ng-repeat="file in gist.single.files" onload="initEditors()">
        <div id="file-{{$index}}" class="the-gist-name">


            <span data-ng-switch on="edit">
                <span data-ng-switch-when="true">
                    <input class="edaitable" data-ng-model="file.filename">
                </span>
                <span data-ng-switch-default>
                    <i class="icon-file-alt"></i> {{file.filename}}
                </span>
            </span>


            <a data-ng-click="deleteFile(file.filename)" data-file-index="{{$index}}"
               title="Delete {{file.filename}}"><i class="icon-remove"></i></a>
            <a data-ng-click="enableEdit(gist.files ,gist.description)" title="Edit"><i
                    class="icon-pencil icon-rotate-90"></i></a>
            <a href="{{file.raw_url}}" download="{{file.filename}}" title="Download"><i
                    class="icon-download-alt"></i></a>
            <a data-ng-click="goToGist(gist.single.user.login, gist.single.id ,file.filename)"
               title="Open file at GitHub Gist website"><i class="icon-github"></i></a>
            <a ng-click="copyToClipboard(gist.single.html_url, 'Direct link copied to clipboard')"
               title="Copy direct link to clipboard"><i class="icon-link"></i></a>
            <a data-ng-click="copyToClipboard(file)" title="Copy to clip-board"><i class="icon-paper-clip"></i></a>
        </div>

        <editor data-ng-controller="settingsCtrl" language="{{file.language | codeLanguage}}" font="{{font_size}}"
                theme="{{editor_theme}}"
                index="{{$index}}"></editor>

    </div>

</section>

</span>

<div class="comments">

<span class="clicky" data-ng-click="showComments=!showComments">
    <b><span class="icon-comments"></span> {{gist.single.comments}}</b> Comment(s) <i class="icon-arrow-up"> Show</i>
</span>

    <div data-ng-controller="commentsGistCtrl" class="the-comments">
        <span data-ng-repeat="comment in comments" data-ng-show="showComments">
            <p>
                <img data-ng-src="{{comment.user.avatar_url || 'https://secure.gravatar.com/avatar/'}}"
                     class="comment_gravatar"
                     title="{{comment.user.login}}"/>
                <b>{{comment.user.login}}</b> <b class="icon-time"></b> {{comment.created_at | date}}</p>
            <div class="blockquote" data-ng-bind-html-unsafe="comment.body | markDown"></div>
        </span>
    </div>

</div>

<footer>
    &copy; 2013 <b>Gisto</b> | http://www.gistoapp.com
</footer>
