<header>
    <img src="{{single.user.avatar_url}}" class="gravatar" title="{{single.user.login}}" /> 
    <a href="" ng-click="theGistList()" title="Sync gists from server"><i class="update icon-download"></i></a>
    <a href="" title="General settings"><i class="settings icon-cog"></i></a>

    <span class="type {{single.public | publicOrPrivet}}">{{single.public | publicOrPrivet}}</span> {{single.description}}
</header>
<!--
            <div class="messenger">
                <i class="icon-lightbulb"></i>
                <span>Simple notification</span>
            </div>

            <div class="messenger info">
                <i class="icon-info-sign"> </i>
                <span>Informative notification</span>
            </div>

            <div class="messenger warn">
                <i class="icon-warning-sign"> </i>
                <span>Warning</span>
            </div>

            <div class="messenger ok">
                <i class="icon-ok-sign"> </i>
                <span>OK / Success notification</span>
            </div>

-->

<div class="toolbox">

    <span>
        <b>Revisions:</b> <i>{{single.history.length}}</i> | <b>Created:</b> <i>{{ single.created_at| date }}</i>
    </span>
    <a href="">Add new file</a>
    <a href="">Upload</a> 
    <a href="">Download</a> 
    <a href="">Remove</a>
    <a href="">File list</a>

</div>

<section>

    <div class="the-gist" ng-repeat="file in single.files">       
        <div class="the-gist-name">
            <i class="icon-file-alt"></i> <b>{{file.filename}}</b>
            <a href="#" title="More Options..."><i class="icon-cogs"></i></a>
            <a href="#" title="Edit"><i class="icon-pencil"></i></a>
            <a href="#" title="Star"><i class="icon-star-empty"></i></a>
            <a href="#" title="Download"><i class="icon-download"></i></a>
            <a href="{{file.raw_url}}" title="Direct link"><i class="icon-link"></i></a>
            <a href="#" title="Copy to clip-board"><i class="icon-paper-clip"></i></a>
        </div>
<pre class="brush: php">
{{file.content}}
</pre>
    </div>      

</section>

<div class="comments">
    <b>{{single.comments}}</b> Comments <i class="icon-arrow-up"> Show</i>
    
    <div class="the-comments">
        <p><b>comment by:</b> sasha</p>
        <p>Comment text here, we need to play with the height.</p>
    </div>
    
</div>

<footer>
    &copy; 2013 Gisto | <b>www.gisto.org</b>
</footer>