<header>



    <div class="is-fork" data-ng-if="gist.single.fork_of">
        <a data-ng-click="dropdown.forks.show=!dropdown.forks.show" title="fork"><i class="star fa fa-code-fork"></i></a>

        <div class="notification notification-forks" data-ng-show="dropdown.forks.show">
            <div>
                <p><cite>{{ gist.single.fork_of.description | removeTags}}</cite>
                    <br />
                    <a to-url="{{ gist.single.fork_of.html_url }}"><i
                        class="fa fa-github"></i> {{ (gist.single.fork_of.id | truncate : 7 : '') }}</a>
                    <img data-ng-src="{{ gist.single.fork_of.owner.avatar_url }}s=40">
                    <br/>
                    <b><a href="{{ gist.single.fork_of.owner.html_url }}">{{ gist.single.fork_of.owner.login }}</a></b>
                </p>

            </div>
        </div>
    </div>

    <span data-ng-switch on="gist.single.starred" class="star-switch">
        <span data-ng-switch-when="true" class="animate-star-button">
    <a data-ng-click="unstar()" title="unStar"><i class="star fa fa-star"></i></a>
        </span>
        <span class="animate-star-button" data-ng-switch-default>
    <a data-ng-click="star()" title="Star"><i class="star fa fa-star-o"></i></a>
        </span>
</span>

<span data-ng-switch on="gist.public">
    <span data-ng-switch-when="true">
        <a data-ng-click="warnStateChange('private')" title="Make private"><i class="star fa fa-unlock"></i></a>
    </span>
    <span class="" data-ng-switch-default>
        <a data-ng-click="warnStateChange('public')" title="Make public"><i class="star fa fa-lock"></i></a>
    </span>
</span>

    <span class="gist-title" data-ng-switch on="edit">
        <span data-ng-switch-when="true">
            <input ui-keydown="{'ctrl-83':'update($event)'}" class="edaitable" data-ng-model="gist.description">
        </span>
        <span class="title" data-ng-switch-default>
            {{(gist.description | removeTags) || 'Untitled'}}
        </span>
    </span>

    <ng-include class="flex-row " src="'partials/header.html'" data-ng-controller="headerController"></ng-include>

</header>

<div class="messenger template">
    <i class="fa fa-lightbulb-o"></i>
    <span>Simple notification</span>
</div>

<div class="messenger info template">
    <i class="fa fa-info-circle"> </i>
    <span>Informative notification</span>
</div>

<div class="messenger warn template">
    <i class="fa fa-exclamation-triangle"> </i>
    <span>Warning</span>
</div>

<div class="messenger ok template">
    <i class="fa fa-check-circle"> </i>
    <span>Success</span>
</div>

<div class="messenger loading template">
    <i class="fa-spin fa fa-spinner"> </i>
    <span>Loading...</span>
</div>

<div class="messenger edit template">
    <i class="fa fa-pencil-square-o"> </i>
    <span>Edit mode <b>on</b> <a href="" data-ng-click="update()">update</a> | <a data-ng-click="disableEdit()"
                                                                                  title="changes wont be saved">cancel</a></span>
</div>

<div class="messenger drop template">
    <i class="fa fa-pencil-square-o"> </i>
    <span>Drag detected - now drop!</span>
</div>

<div class="messenger delete warn">
    <i class="fa fa-exclamation-triangle"> </i>
    <span>Are you sure you want to <b>delete</b> this gist? | <a href="" data-ng-click="del()">Yes!</a>
        <a href="" data-ng-click="cancelDeleteGist()">Cancel</a></span>
</div>

<div class="messenger delete-file warn">
    <i class="fa fa-exclamation-triangle"> </i>
    <span>Are you sure you want to <b>delete</b> {{ fileToDelete }}? | <a href=""
                                                                          data-ng-click="deleteFile(fileToDelete)">Yes!</a>
        <a href="" data-ng-click="cancelDeleteFile()">Cancel</a></span>
</div>

<div class="messenger state warn">
    <i class="fa fa-exclamation-triangle"> </i>
    <span>Are you sure you want to make this gist <b>{{state}}</b>? <br/>This will delete and recreate the gist as {{state}}, comments and revisions will be lost <a
            href="" data-ng-click="changeState(state)">Yes!</a>
        <a href="" data-ng-click="cancelStateChange()">Cancel</a></span>
</div>

<div class="messenger warn notification-error">
    <i class="fa fa-exclamation-triangle"> </i>
    <span>Server connection lost, please try again later.</span>
</div>

<div class="toolbox">

    <span class="date_meta">

        <b>Revisions:</b> <i title="Click to browse revisions"
                             data-ng-click="dropdown.revisions.show=!dropdown.revisions.show">{{gist.single.history.length}}
        <code class="fa fa-sort-down"></code></i>

<date class="gist_date_meta">
    <b>Created:</b> <i>{{ gist.single.created_at |
    date:'dd/MM/yyyy HH:mm' }}</i>
    <b>Updated:</b> <i>{{ gist.single.history[0].committed_at | date:'dd/MM/yyyy HH:mm'}}</i>
</date>

        <div data-ng-controller="singleGistHistoryCtrl" class="notification" data-ng-show="dropdown.revisions.show">
            <div ng-hide="gist.single.history.length==1">

                <ul>
                    <li ng-repeat="revision in gist.single.history">
                        <a href="#/history/{{ gist.single.id }}/rev/{{ revision.version }}">
                            <p data-ng-hide="$index==0" data-ng-hide="$index==0">
                                <b>Rev. {{ revision.version | truncate : 7 : ''}}</b><br/>
                                {{ revision.committed_at | date:'dd/MM/yyyy HH:mm:ss'}}<br/>
                                {{ revision.change_status.total }} Changes: <code class="fa fa-plus-square"></code> {{
                                revision.change_status.additions }}, <code class="fa fa-minus-square"></code> {{
                                revision.change_status.deletions }}
                            </p>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </span>

    <a data-ng-click="addFile()" title="Add new file to this gist">Add file</a>

    <span class="toolbtn" data-ng-switch on="edit">
        <span class="toolbtn" data-ng-switch-when="true">
            <a data-ng-click="update()" title="Save all changes">Update</a>
        </span>
        <span class="toolbtn" data-ng-switch-default>
            <a data-ng-click="enableEdit(gist.single.files,gist.description)" title="Edit this gist">Edit</a>
        </span>
    </span>

    <a data-ng-if="!$parent.enterpriseMode" to-url="http://plnkr.co/edit/gist:{{gist.single.id}}?p=preview"
       title="Open gist in 'plunker'">Plunker</a>

    <a class="share-drop-down" data-ng-click="dropdown.share.show=!dropdown.share.show" title="Share this Gist">Share
        <div data-ng-show="dropdown.share.show">
            <input data-ng-click="dropdown.share.show=!dropdown.share.show" type="text" ng-model="userToShare"
                   placeholder="GitHub username" list="followersData">
            <datalist id="followersData">
                <option data-ng-repeat="follow in followers_array" value="{{ follow }}"></option>
            </datalist>
            <input type="submit" value="share" data-ng-click="share()" data-analytics-on="click" data-analytics-category="Collaboration" data-analytics-action="Share" />
        </div>
    </a>

    <a data-ng-if="!$parent.enterpriseMode" data-ng-href="{{ buildDownloadLink(gist) }}"
       title="Download this gist as single tarball">Download</a>
    <a data-ng-click="copyToClipboard(gist.id, 'Gist ID hash copied to clipboard')"
       title="Copy Gist ID hash to clipboard">Gist ID</a>
    <a data-ng-click="copyToClipboard(buildGistLink(gist), 'Embed code copied to clipboard','embed')"
       title="Copy embed code to clipboard">Embed</a>
    <a data-ng-click="copyToClipboard(gist.single.html_url, 'Gist URL copied to clipboard')"
       title="Copy Gist URL to clipboard">Gist URL</a>
    <a to-url="{{gist.single.html_url}}" href="" title="Open Gist in browser">Open in web</a>
    <a data-ng-click="warnDeleteGist()" href="" title="Delete this gist">Remove</a>

    <a class="files-drop-down" data-ng-click="dropdown.show=!dropdown.show" title="List files">
        <i class="fa fa-sort-down"></i>

        <div data-ng-show="dropdown.show">
            <p class="scroller" data-ng-repeat="file in gist.single.files" scroll-to="file-{{$index}}"><i
                    class="fa fa-file"></i> {{file.filename}}</p>
        </div>
    </a>


</div>

<section ui-keydown="{'ctrl-83':'update($event)'}"
         ui-event="{ dragover : 'dragStart($event)', dragleave: 'dragEnd($event)', drop: 'drop($event)' }">

    <div class="the-gist" data-ng-repeat="file in gist.single.files" onload="initEditors()">
        <div id="file-{{$index}}" class="the-gist-name">

            <span data-ng-switch on="edit">
                <span data-ng-switch-when="true">
                    <input class="edaitable" data-ng-model="file.filename">
                </span>
                <span data-ng-switch-default>
                    <i class="fa fa-file-o"></i> {{file.filename}}
                </span>
            </span>

            <a data-ng-click="deleteFileConfirm(file.filename)" data-file-index="{{$index}}"
               title="Delete {{file.filename}}"><i class="fa fa-times"></i></a>

            <a data-ng-click="enableEdit(gist.single.files ,gist.description)" title="Edit"><i
                    class="fa fa-pencil fa-rotate-90"></i></a>
            <a data-ng-if="!$parent.enterpriseMode" href="{{file.raw_url}}" download="{{file.filename}}" title="Download"><i
                    class="fa fa-download"></i></a>
            <a to-url="{{ buildFileLink(gist, file) }}"
               title="Open file at GitHub Gist website"><i class="fa fa-github"></i></a>
            <a ng-click="copyToClipboard(buildFileLink(gist, file), 'Direct link copied to clipboard')"
               title="Copy direct link to clipboard"><i class="fa fa-link"></i></a>
            <a data-ng-click="copyToClipboard(file)" title="Copy to clip-board"><i class="fa fa-paperclip"></i></a>

            <a  data-ng-click="fileShown=!fileShown" title="Show/Hide file content">
                <i class="fa" data-ng-class="{'fa-expand': fileShown, 'fa-compress': !fileShown}"></i>
            </a>
            <a data-ng-if="file.language=='Markdown'" data-ng-click="markDownPreviewToggle()"
               title="Toggle markdown preview"><i class="fa fa-eye"></i></a>

        </div>

        <editor data-ng-show="!fileShown" data-ng-controller="settingsCtrl" show-md-pan="true" language="{{file.language | codeLanguage}}"
                theme="{{editor_theme}}"
                index="{{$index}}"
                ></editor>

    </div>

</section>


<div class="comments">

<span class="clicky" data-ng-click="showComments=!showComments">
    <b><span class="fa fa-comments"></span> {{gist.comments}}</b> Comment(s)
    <div data-ng-if="!showComments"><i class="fa fa-arrow-up"></i> Show</div>
    <div data-ng-if="showComments"><i class="fa fa-arrow-down"></i> Hide</div>
</span>

    <div data-ng-controller="commentsGistCtrl" class="the-comments">
        <span class="comment-holder" data-ng-repeat="comment in comments" data-ng-show="showComments">
            <a class="trash" data-ng-click="delete_comment(gist.single.id,comment.id,$index)"><i class="fa fa-trash-o"></i></a>
            <p>
                <img data-ng-src="{{comment.user.avatar_url || 'https://secure.gravatar.com/avatar/'}}"
                     class="comment_gravatar"
                     title="{{comment.user.login}}"/>
                <b>{{comment.user.login}}</b> <b class="fa fa-clock-o"></b> {{comment.created_at | date}}</p>
            <div class="blockquote" data-ng-bind-html="comment.body | markDown"></div>
        </span>

        <div data-ng-if="showComments">
            <h3>Add Comment</h3>

        <span data-ng-show="showPreview">
            <div class="show-preview" data-ng-bind-html="comment_body | markDown"></div>
        </span>

        <span class="comment-text-holder">
            <a class="preview" data-ng-click="showPreview=!showPreview"><i class="fa fa-eye"></i></a>
            <textarea class="comment-text" data-ng-model="comment_body">

            </textarea>
        </span>
            <a class="post-comment" data-ng-click="add_comment(comment_body)">Post</a>
        </div>

    </div>

</div>

<ng-include src="'partials/footer.html'" data-ng-controller="footerCtrl"></ng-include>