:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;

  logo {
    font-size: 42px;
    font-weight: 200;
  }

  small {
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
  }

  button {
    font-size: 22px;
    line-height: 11px;
    height: 50px;
    padding: 20px;
  }

  input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #3f83a8;
    background: #fff;
    width: 300px;
  }
}
