body {
    color: #555;
    background-color: #ccc;
    font: 20px/1.231 'trebuchet ms', arial, sans-serif;
}

h1 a {
    color: #555;
}

h1 a:hover {
    color: #333;
}

aside header,
.main header {
    background: -webkit-linear-gradient(top, #F2F2F2, #D9D9D9);
    border-top: 1px solid hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 60%);
    text-shadow: 1px 1px 1px #fff;
    width: 100%;
    height: 52px;
}

div.toolbox {
    background: rgb(167, 202, 211);
    border-bottom: 1px solid hsl(0, 0%, 60%);
    box-shadow: 3px 7px 20px #777;
}

div.toolbox span i {
    background: #f2f2f2;
    border: 1px solid #555;
}

div.toolbox a {
    border: 1px solid #555;
    color: #fff;
    background: #555;
}

div.toolbox a:hover {
    background: #000;
    border: 1px solid #000;
}

.type {
}

.secret {
    color: #FD5050;
    border: 1px solid #FD5050;
}

.public {
    color: #468847;
    border: 1px solid #468847;
}

aside {
    border-right: 1px solid hsl(0, 0%, 70%);
}

aside ul {
    background: -webkit-linear-gradient(top, #F2F2F2, #D9D9D9);
    box-shadow: 0px 0px 30px #555 inset;
}

aside ul li a {
    color: #333;
    border-bottom: 1px solid #555;
    border-top: 1px solid #fff;
}

aside ul li a:hover,
aside ul li a.active {
    box-shadow: 0px 1px 8px #555 inset;
    color: #fff;
    text-shadow: 1px 1px 5px #555;
}

aside ul li a:hover {
    background: #999;
}

aside ul li a.active {
    background: #EC9073;
}

aside footer,
.main footer {
    background: #CCC;
    border-top: 1px solid #f2f2f2;
    text-shadow: 1px 1px 1px #fff;
}
.main {
    position: relative;
    z-index: 1;
}

.main:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAANbElEQVR4nO3dR67lOhJFUc1/iumQ3iG9Q9qo1n4fdxXYZ4PsCHIhSjxBhtf15MmTmZl5+vTpzMz8+PHjZv/bt28zM/PmzZuZmen6nz9/zszMp0+fbrYvXryYmZmvX7/OzMy9e/duti9fvrw5//r165mZefv27c35ntv59+/fz8zMq1evZmbm+fPnMzPz+fPnmZl59OjRzMx8+fLlhk79rf9//vy5eV50Hz9+PDMz379/n5mZ379/3/Sz+/suvU/no9fz3717NzMzDx8+vPkuv379uulfz+3+a07bql2NcEgR0XFMI9iIdrzrQnIIiWPu379/c1xOidNCfJwh4npudENq+9EL4c+ePZuZmY8fP94cD6nR77lxku9R/9rvfPf1nK7rfePkf//+3Ty/9+/6+v3hw4eZORyyXbsa4UZcBMsRIS5kNnd3fXP0gwcPZua/OTO6Iabr4ojohdwQG3Ladtw1yLUhus3lnRf5ITrOiV797b7eu/fsvdt2vv713nJM3zm6He95h0M2a1cjFnJqjWCIaBvCQ5RSUXT+/v07M/8hJUSHoDgiZMSJ0WtNk6PivLb1I7pJRyFTzot+/WuGiH7Xx5FdF+e4JiRFdb7j3df79X1ck+t/73M4ZLN2NWIhMgQ1co10I9jcG7Ia6Y4r94eM5to4MmT1vI4rBcVh9S+6zb2uYc3lK2ktOu2HaBHf+7YG9R2S7upnz3GNVG/qfHR6396n6w+HbNau5srm8BDWnN/xkKB0E7LSmENOSAoRIa/r4rDmfDlMqS5OCGkhrOuiH/KjE8Lrr/qB+lFrj3qD38e1Izr1p+PdFwf0vaPbd4rDD4ds1q4Q3ciHWBHVXN4IN6LOxUpZ2rTab6vNrOfWHzX46NfP7o/j2g+ZcV701CeiF8f0vm2j0zb6rU1t4/z675rTc/reSnX1/3DIZu1qBJsTm+uaS+OIRj6poPMhMESEAG1c0Q0J0Q2Z0eu66HZeDtOGFQLjZPWUniunuTa19nS+bc+tn303pc6+TxysZaD+qIfVDods1u70kKSRRlZNvRFWumiEm0NFanN2+/o/QkrPby3SptWcvtIHur/3ibM6rkWh50Sn/rvGaP3uu2gD1N/SmiOHRjdOU4o7HLJZu7TShhT1gxCnXB3iohMnhIiubw5W7nctWMn93a+1Vet0iOx8+3FY/W0NU0rUJiYH9V71W30mjokze762uuhHr/4dDtmsXY28VlRtREoZIa374zDXgK7v/lqcp1wfvRATknpeSGstiyObw9Xkfa+QrD+i+0N+a12c1Pk4wrWs7xRn1K/67fXRd205HLJZu0JcyAoxjWQj7twpUpt721/55uOgOCT6Ro/ovwhxasxxglKLNiXp6vGME5rz1SP0ha+iT1w72m8t1Jrd9zhryKbtagTV0EOeyGxfqas5NnoieSVtaTsKcfXHtSVEt6+HUc3dNUgNOc6uf3r6lMZCuNbgvof+l7bavupX/W1mORyyWbvTQ0KOI+ucp4baSOspW0UaGrcVx6yiVIyL6jo5KoStfOP1X/1Fz6DxX/VbK2791NO5WivbRsfj9ftwyGbtUn4OAcY5hUjjnkKScr2RhPqOQ6Y+7ZAWskVonLiK71I6ixPiZD12cZbW7q4P8Vq323qdtqreU01f/0/f/3DIZu1OygoxIbm5VHlczghx+jE6riasvyIO0L/Q+Z6nVdV4p54T4tQn4vy29a/3972jp14V/Y5rNVaq6r7WLv0t2roOh2zWLqPaRayxtSFkleeQ1OTa0Ry68qsofUU/OnFga4ZyvBGJvk/I1Heu1dmoFKW8nqNeUb96X2ML2lfDVy86HLJZu0RsI2zcVFKE/g7leSMIRVpbo1SMmdWXHv2QbgSkscCrWOVVXojRMa1NehC1YHR/9JXKtIUptXZ9zz8cslm7lFq0JRkhqP8jTgkp+k/c15oscvTPdDxOMHNJpCsNuVYk7ax86+Z11Iz+V1PXNmZmWjONfhzXrsMhm7W7HENtUWYcGT/k3G5EnohMStMj1/3qIXGGmq62LKPVk66iH2d3vP7VH5+fVNR9cdJKKqyffb9mHC0AfQc9q2r8h0M2a3d6iJqr0kIjmNQRUsyPaBsd9Quj473OHD2lJzVxM6uUzkKo+kXvo7W250a356lf9R3MO3GNM6o+OvXLzKrDIZu1SylITV0blLYskarvPSQYE2t+ySoaXp+50lrI1POn59PcQ21zIT5OU4pTT+n+1raOd58RmlaE6Pvoaz8csln7Pz1k5ZdYSUeNvJUJjNVdxbqGkFXWrp47pSzXNPUDfeSuafptVtEurmUdj17fSTq9b/ept5l/fzhks3YlHzeyRqmrj1j9p7k5xDanRqf9EKsUorTi/SFHeb+535hkpSSzXuunsblKcSvN36iSOLaZppnC7GazfOtn/Tscsmm7lMcbqTjH7Fbl/NaKEKtHMIToP1E60d9g1q7R6Wr21u8KeT7HKJQ41cjHnh+d3jt6cUT0rK2yiuA0Frjv3PHDIZu1q5GMU5QyQrrREY64ldW0fkbPKHIR09zf1toqPUc9YVXVyGgR9YXe2zVD/cRsACMde45+I3MU5Tz7eThks3atIgnNGjV21+gN8zoacW1BavohxtxAY39r1p8K6Uady3n69M3wMnbY6kXWmqx/cnz3WxvGmaX+dz46h0M2a5dyvNKI0ePWOnGNMCfRuVL/SHOtSNEnb9S9Pnjz5c2DX+XF16+ep02u9zeaxH6bixhdpU7XbCtMHA7ZrF3W8lBfiDO00uoPMVfQTCalshDS1vwUke8c3/VmDTt3W8tFK7UeUSs9xBlKU1ao6D21yTWDWB21NSV6J8dw03apuVr/ynxq44qMWzIPozXHzKeOh6ieawxsCDXey+xac/3042h7ko56kVKc1loztfTfdFxrdvtmgPXeh0M2a5dR4dpuQl5zbgiQo5xzrW24slnFgcYGW0tFq6t5FuaZRF8fvPqJFbK7vrm996lfrRX60rWOt22t0F/S9XHKyQ/ZtF3m2KlXNLeFlBCiLz0E6SHTRqRVNnr6zlcVD9RvRF6c1vWrbFhrO8pJZkIZde9a6t8ZXCONIbCydt/jcMhm7WqEzQMJafrGmzONwtAPEPKc663taD65kX5maHVc6cm/JnjezCgrKHS/ekhzvD51q7C69tVvpU05x5jlwyGbtUsEmYmk3mClOWNf/RNPHKFVVqnJCnCuNUaXWOHN/iklGkWvtdmIRutwrf6443fzT0XW31K/0np9OGSzdml1TOoyZrY5TnlfTVqrb3SNSom+nCAS7YdW1J4nIldro/FjRlp2n5XmrKZqlq9Il8O0HrsWHU1903b3/xArHDiiyu9mQDm3J5UYq+vf0+IAY4nlBHMLrcqjp7Ln+/8Q8+bNF3d/lYMZR7Y1un61Vtb/1h6jfA6HbNYuPXONeMjQ4xWCQuKqopzVP9VHzL9wbjY7Vb+Gmrx6jtZWM7CMm1J6cq00qr7+O8PoLzIqR9ucUTSHQzZrd/4Qfcp6/owWaeT1oFnLw3pcrg3+H1DE+KcdLQP+HUH66jFGszd3d964KvNJoqe/xbXLShPqN+bhHI/hpu0ySqIRs3K1tTuM5FM6Wv2PRERoC9JzaH6Kcn1rnxXxtB2pL1mtyHiwlZSmfmH0ilJV36H74+w4RF//4ZDN2mWFN5EQAkJk1/l/EfNIrHxgtq5Zr533X00h28wt/8qgldk/3nRfSLTGoz50PZ1Gu1styb/ZaaFoX05yjTocslm7i8syW1SpxLVGW5T+EqM3tIa6JlnhwLx1pTc5wninVV0vPYzmyRvlb06jnj8rRhj17790rZokBx4O2azdSVn6A5zbtfaqD/gPJuOozK1zTdLHrR9j9ScfK08Yf+UaZp6GuYVKbUl7+t6NTTYm2lhlPZDaDjt+OGSzdunJ0xajpqtNxr8/y0lWcmi/5/rPXWu4G/vaGqSUo6a9qsmoB8/a8ebnGzWvNbe1Jbr+ra7vsvrHlfFch0M2a3eRi9rvQ4xxRdbV9f+EIlGrsZXe5AilM33X+hPkVKuAamtyzm9t0Sanb94omfrVGqcVOg6p9Z76m5QeD4ds1q7mOPMc2neu1BZl1EUINuZVZIpgbUTmMloDUc3ePBMrwNVPK8jJgUpFZvX2faxNr8/d72Ssc9KbNS0Ph2zWLn3d/gHG2upmFIlMa40YheH/PcxajTOsi2U/4gDXnJ5vfJf6kjG8cpz+GW1O5vEbqaivXQ+nkYvRORyyWbu0fqovOHeaaaScrk/caJDus7aitilrsOgJtEJ196/ioMyzV1PWo2dUexzUfu9jnrtZw6tKdP735FSU27Td1e3137daX62EYD6JGqxzaYiVrjYn5+jVn22MLDRuzBzJVfUhbWXmRFqDxagW9ZbVWuQfeMy0OvWyNm1Xc5c5dW2NXNTXrK1LjdYIQ+d2o0b0q4TU6OjpsyJ30ov/xnJt8J++/gddK6xrnR5E82rM5LKCnZUtTtTJpu1yrjNfpBH2P4H6Q7R1mWcSgqwKZN0p/67smqRP3So87ZupZHaxscn+h2QlbaknSSfO63orTGjt1TJyOGSz9j8u+4M7mC7lnQAAAABJRU5ErkJggg==');
}

div.main header a .settings {
    border: 1px solid #999;
    background: #f2f2f2;
    color: #555;
}

div.main header a .update {
    border: 1px solid #999;
    background: #f2f2f2;
    color: #555;
}

div.main header a .settings:hover,
div.main header a .update:hover {
    color: #000;
}

div.main header a .create {
    border: 1px solid #999;
    background: #f2f2f2;
    color: #555;
}

div.main img.gravatar {
    background: #f2f2f2;
    color: #555;
}

div.comments {
    background: #F2C76B;
    border-top: 1px solid #999;
    box-shadow: 0px -3px 20px #777;
}

.the-gist {
    background: #F2F2F2;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 20px #ccc;
}

.the-gist pre {
    background: #fff;
}

.the-gist-name {
    background: rgb(116, 158, 123);
    border-bottom: 1px solid rgb(133, 133, 133);
    color: #fff;
}

.the-gist-name a {
    border-left: 1px solid #999;
    color: #fff;
}

.the-gist-name a:hover {
    color: #000;
}

.messenger {
    background: #0480BE;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #000000;
}

.messenger.info {
    background: #0480BE;
}

.messenger.edit {
    background: goldenrod;
}

.messenger.warn {
    background: #b94a48;
}

.messenger.ok {
    background: #468847;
}

.messenger a {
    background: #FFF;
    color: #555;
    box-shadow: 1px 1px 1px #555;
    text-shadow: none;
}

aside header input {
    border: 1px solid #CCC;
    box-shadow: 1px 1px 5px #CCC inset;
    color: #555;
}

.the-comments span {
    background: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 2px 10px #DDD inset;
}

div.blockquote {
    border-left: 5px solid #CCC;
}

aside ul li a span {
    border: 1px solid #999;
    background: #f2f2f2;
    color: #555;
}

aside ul li a:hover span.pills {
    color: #555;
}

.gist-comment {
    border: 1px solid #ccc;
}

section input[type="text"] {
    border: 1px solid #555;
    box-shadow: 0px 0px 10px #bbb inset;
}
header input.edaitable {
    border: 1px solid #CCC;
    box-shadow: 1px 1px 5px #CCC inset;
}

.the-gist-name input.edaitable {
    border: 1px solid #CCC;
    box-shadow: 1px 1px 5px #CCC inset;
}

.dragarea {
    border: 3px dashed goldenrod;
}

.blockquote code {
    background: #F2F2F2;
    border: 1px solid #CCC;
}

a .star {
    color:#555;
}

ul li .the-star {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #555;
    -webkit-transform: rotate(135deg);
    top: -4px;
    left: -13px;
    position:absolute;
    content: '*';
    color: #fff;
}

ul li .the-star i {
    position: relative;
    left: -4px;
    background: transparent;
    color: #fff;
    border: none;
    top: -21px;
}