<!DOCTYPE html>
<html lang="en" data-ng-app="gisto">
<head data-ng-controller="settingsCtrl">
    <meta charset="utf-8">
    <title>Gisto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" data-ng-href="themes/{{theme}}/theme.css">

    <script>
        /**
         * Needed to load node-webkit functionality.
         */
        if (typeof window.require != 'undefined') {
            window.gui = require('nw.gui');
            var clipboard = window.gui.Clipboard.get();
        }
    </script>

</head>

<body class="ng-cloak" ui-route="/login" data-ng-class="{login: $uiRoute}">

<aside ui-route="/login" class="flex" data-ng-if="$uiRoute==false" data-ng-controller="listGistCtrl"
       data-ng-hide="edit">

    <header class="flex">
        <h1 title="Gist desktop app"><a href="#/">
            <i class="icon-angle-left"></i>/Gisto<i class="icon-angle-right"></i>
        </a></h1>
        <input list="gistDataList" type="text" data-ng-model="search" class="search-query" placeholder="Search gists">
        <!--
        <datalist id="gistDataList">
            <option data-ng-repeat="gist in gists" value="{{(gist.description | removeTags) || 'Untitled'}}"></option>
        </datalist>
        -->
    </header>

    <ul>
        <li id="gist-{{gist.id}}" data-ng-animate="{enter: 'animate-list-enter', leave: 'animate-list-leave'}"
            data-ng-repeat="gist in filteredGists = (gists | filter:search) | orderBy:'-created_at'">
            <a ui-route="/gist/{{gist.id}}" data-ng-class="{active: $uiRoute}"
               onclick="document.location.href = '#/gist/{{gist.id}}'">
                <h3>
                    <i class="icon-{{gist.public | publicOrPrivet}}"></i>
                    {{(gist.description | removeTags) || 'Untitled'}}
                </h3>

                <div data-ng-if="gist.has_star" class="the-star"
                     data-ng-animate="{enter: 'animate-star-enter', leave: 'animate-star-leave'}"><i
                        class="icon-star"></i></div>
                <span class="pills gist-comment"><i class="icon-comments"></i> {{gist.comments}} Comment(s)</span>
                <i class="icon-file"></i>
                <ng-pluralize count="gist.filesCount" when="{'one': '1 file', 'other': '{} files'}"></ng-pluralize>
                <p>
                    <span data-ng-repeat="tag in gist.tags" class="pills"><i class="icon-tags"></i><i> {{tag |
                        removeTagSymbol}} </i></span>
                </p>
            </a>
        </li>
    </ul>

    <footer class="flex">
        <div>
            <span>Total {{filteredGists.length}} gists</span>
            <span title="Gisto server status"><i class="icon-globe"
                              ng-class="{offline: !onlineStatus.status, online: onlineStatus.status }"></i> {{ onlineStatus.state }}</span>
        </div>
    </footer>
</aside>

<div class="main flex" role="main" data-ng-view>

</div>

<!--SCRIPTS-->

<!-- env:prod --#>
<script src="lib/ace/ace.js"></script>
<script src="js/gisto.min.js"></script>
<!-- env:prod:end -->

<!-- env:dev -->
<script src="lib/jquery/jquery-2.0.0.js"></script>
<script src="lib/ace/ace.js"></script>
<script src="lib/socket-io/socket.io.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-ui/ui-utils.min.js"></script>
<script src="lib/socket-io/socket.js"></script>
<script src="js/app.js"></script>
<script src="js/services/settingsService.js"></script>
<script src="js/services/gistDataService.js"></script>
<script src="js/services/githubApiService.js"></script>
<script src="js/services/requestHandlerService.js"></script>
<script src="js/services/notificationService.js"></script>
<script src="js/services/onlineStatusService.js"></script>
<script src="js/controllers/commentsController.js"></script>
<script src="js/controllers/createController.js"></script>
<script src="js/controllers/headerController.js"></script>
<script src="js/controllers/listController.js"></script>
<script src="js/controllers/loginController.js"></script>
<script src="js/controllers/mainController.js"></script>
<script src="js/controllers/singleController.js"></script>
<script src="js/controllers/settingsController.js"></script>
<script src="js/controllers/sharedController.js"></script>
<script src="js/filters/markdownFilter.js"></script>
<script src="js/filters/removeTagSymbolFilter.js"></script>
<script src="js/filters/removeTagsFilter.js"></script>
<script src="js/filters/syntaxFilter.js"></script>
<script src="js/filters/truncateFilter.js"></script>
<script src="js/filters/publicOrPrivateFilter.js"></script>
<script src="js/directives/editorDirective.js"></script>
<script src="js/directives/scrollDirective.js"></script>
<script src="lib/showdown.js"></script>
<!-- env:dev:end -->

</body>
</html>
