<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Gisto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" data-ng-controller="settingsCtrl" href="themes/{{theme}}/theme.css">

    <script>
        /**
         * Needed to load node-webkit functionality.
         */
        if (typeof window.require != 'undefined') {
            window.gui = require('nw.gui');
            var clipboard = window.gui.Clipboard.get();
        }
    </script>

</head>

<body class="ng-cloak" ui-route="/login" ng-class="{login: $uiRoute}">

<aside ui-route="/login" ng-class="{hide: $uiRoute}" class="flex" ng-controller="listGistCtrl">

    <header class="flex">
        <h1 title="Gist desktop app"><a href="#/">
            <i class="icon-angle-left"></i>/Gisto<i class="icon-angle-right"></i>
        </a></h1>
        <input list="gistDataList" type="text" ng-model="search" class="search-query" placeholder="Search gists">
        <datalist id="gistDataList">
            <option ng-repeat="gist in gists" value="{{(gist.description | removeTags) || 'Untitled'}}"></option>
        </datalist>

    </header>

    <ul class="flex">
        <li id="gist-{{gist.id}}" ng-repeat="gist in filteredGists = (gists | filter:search) | orderBy:'title'">
            <a ui-route="/gist/{{gist.id}}" ng-class="{active: $uiRoute}"
               onclick="document.location.href = '#/gist/{{gist.id}}'">

                <h3>
                    {{(gist.description | removeTags) || 'Untitled'}}<br/>
                </h3>
                <span class="{{gist.public | publicOrPrivet}}">{{gist.public | publicOrPrivet}}</span>
                &nbsp;
                <span class="pills gist-comment"><i class="icon-comments"></i> {{gist.comments}} Comment(s)</span>

                <p>
                    <span ng-repeat="tag in gist.tags" class="pills"><i class="icon-tags"></i><i> {{tag |
                        removeTagSymbol}} </i></span>
                </p>
            </a>
        </li>
    </ul>

    <footer class="flex">
        Total {{filteredGists.length}} gists
    </footer>
</aside>

<div class="main flex" role="main" ng-view>

</div>

<!--SCRIPTS-->
<script src="lib/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="lib/ace/ace.js"></script>
<!--
script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script
-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular-ui/angular-ui.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="lib/showdown.js"></script>
</body>

</html>
