@import "../../../assets/colors";

:host {
  background: #fff;
  line-height: 50px;
  box-shadow: 0 1px 2px #555;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gist-utils {
    &:last-child {
      margin: 0;
    }
  }

  sub-controlls {
    width: 290px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
    a {
      padding: 0 0 0 10px;
    }
  }

  search {
    padding: 0 10px;
    flex-direction: row;
    display: flex;
    flex:1;
    input {
      border: none;
      border-radius: 0;
      height: 30px;
      margin: 10px 0 10px 10px;
      padding: 0 10px;
      width: 100%;
      color: $header-bg;
      border-bottom: 1px solid $header-bg;
    }
    .fa-angle-down {
      line-height: 50px;
      margin: 0px 0px 0px -10px;
    }
  }

  gist-title {
    flex: 1;
    text-align: left;
    border-left: 1px solid $bg;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    &:after {
      content: "";
      width: 100px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(56%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 56%, rgba(255, 255, 255, 1) 100%);
    }

    title-tag {
      color: $header-bg-light;
    }
  }
}
