@import "../../../assets/colors";

:host {
  background: #fff;
  line-height: 50px;
  box-shadow: 0 1px 2px #555;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gist-utils {
    &:last-child {
      margin: 0;
    }
  }

  sub-controlls {
    width: 290px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
    a {
      padding: 0 0 0 10px;
    }
  }

  search {
    position: relative;
    padding: 0 10px;
    flex-direction: row;
    display: flex;
    flex:1;
    input {
      border: none;
      border-radius: 0;
      height: 30px;
      margin: 10px 0 10px 10px;
      padding: 0 10px;
      width: 100%;
      color: $header-bg;
      border-bottom: 1px solid $header-bg;
    }
    .fa-angle-down {
      line-height: 50px;
      margin: 0px 0px 0px -10px;
    }
    .search-type-label {
      position: absolute;
      font-size: 10px;
      top: 5px;
      left: 50px;
      height: auto;
      line-height: 1;
    }

    .search-suggestions {
      position: absolute;
      top: 50px;
      width: 301px;
      left: 50px;
      padding: 10px 20px;
      margin: 0;
      background: #fff;
      box-shadow: 0 0 10px #ccc;
      overflow: auto;
      height: calc(100vh - 120px);

      .close {
        position: absolute;
        top: 0;
        right: 10px;
        color: $color-danger;
      }

      p {
        text-align: left;
        font-size: 18px;
        color: #3F84A8;
        padding: 0;
        margin: 0;
      }

      ul {
        list-style-type: none;
        padding: 0px;
      }
    }
  }

  gist-title {
    flex: 1;
    text-align: left;
    border-left: 1px solid $bg;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    input {
      width: 100%;
      margin: 5px;
      padding: 5px;
      border: none;
      border-bottom: 1px solid #4083a7;
      color: #4083a7;
    }

    &:after {
      content: "";
      width: 100px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(56%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 56%, rgba(255, 255, 255, 1) 100%);
    }

    title-tag {
      color: $header-bg-light;
    }

    .language > span {
      border: 1px solid #3f83a8;
      padding: 0 5px;
      border-radius: 3px;
      color: #3f83a8;
      margin: 0 5px 0 0;
      font-size: 10px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}
