<sub-controlls>
  <search>
      <div><i class="fa fa-search" aria-hidden="true"></i></div>
      <input type="search" placeholder="search..."/>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
  </search>
  <button>
      <i class="fa fa-plus" aria-hidden="true"></i> New gist
  </button>
</sub-controlls>
<gist-title title="This is the gist description #css #js #javascript">
This is the gist description <title-tag>#css</title-tag> <title-tag>#js</title-tag> <title-tag>#javascript</title-tag>
</gist-title>
<gist-utils>
  <i class="fa fa-pencil color-success"></i>
</gist-utils>
<gist-utils>
  <i class="fa fa-lock" aria-hidden="true"></i>
</gist-utils>
<gist-utils>
  <i class="fa fa-trash-o color-danger"></i>
</gist-utils>
<gist-utils>
  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
  <ul>
      <li>Edit</li>
      <li>Open on web</li>
      <li>Download</li>
      <li>Copy to clipboard</li>
      <li>Delete</li>
  </ul>
</gist-utils>