<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Yes or No?</h4>
            </div>
            <div class="modal-body">
                <p>It's your call...</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay"></div>
<div class="modal-window">
    <div class="modal-close" ng-click="hideModal()"><i class="fa fa-close"></i></div>
    <h1>Yes or no</h1>

    <button type="button" ng-click="close(false)">No</button>
    <button type="button" ng-click="close(true)">Yes</button>
</div>