<gist *ngFor="let file of values(gistStore.currentGist.files); index as i">
  <gist-header>
    <gist-file-icon>
      <span class="fa-stack">
        <i class="fa fa-file-o"></i>
        <strong style="font-size: 8px;" class="fa-stack-1x fa-stack-text file-text">{{ file.filename.split('.')[1] }}</strong>
      </span>
    </gist-file-icon>
    <gist-file-name>
      &nbsp;&nbsp;{{ file.filename }}
    </gist-file-name>
    <gist-utils>
      <i (click)="showMenuForFile(i)" class="fa fa-ellipsis-v" aria-hidden="true"></i>
      <ul *ngIf="showMwnu===i">
        <li class="color-success">Edit</li>
        <li><a target="_new" href="https://gist.github.com/{{ gistStore.currentGist.owner.login }}/{{ gistStore.currentGist.id }}#file-{{ file.filename }}">Open on web</a></li>
        <li><a download="{{ file.filename }}" href="{{ file.file_raw }}">Download</a></li>
        <li>Copy to clipboard</li>
        <li class="color-danger">Delete</li>
      </ul>
    </gist-utils>
    <gist-utils>
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </gist-utils>
  </gist-header>
  <gist-body>
    <td-code-editor
      class="editor"
      theme="vs"
      flex
      language="{{ file.language.toLowerCase() || 'text' }}"
      [value]="file.content"
      [editorOptions]="{ readOnly: true, scrollBeyondLastLine: false }"></td-code-editor>

  </gist-body>
</gist>
