@import '../../../../assets/colors';

:host {
  padding: 10px 20px;
  background: $header-bg;
  color: #fff;
  width: 30vw;
  right: -30vw    ;
  position: absolute;
  overflow: auto;
  height: calc(100vh - 120px);
  box-shadow: 0 1px 2px #555;
  animation: slide 0.5s forwards;

  .comment {
    margin-bottom: 30px;

    div[Markdown] {
      background: $bg;
      padding: 1px 10px;
      margin: 10px 0;
      color: $color-regular;
      line-height: 21px;
    }
  }
}

@keyframes slide {
  100% { right: 0; }
}
