@import "../../../../assets/colors";

:host {
  overflow: auto;
  
  > div {
    background: #fff;
    margin: 20px;
    font-weight: 100;
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 0 10px $border-color;
    flex: 1;
  }

  gist-header {
    display: flex;
    flex: 1;
    padding: 0 20px;
    border-bottom: 1px solid $border-color-light;
    border-radius: 3px 3px 0 0;
    line-height: 50px;
    justify-content: space-between;
    background: $header-bg-lightest;
    color: $color-regular;

    gist-file-name {
      flex: 1;
      font-weight: 600;
      margin: 0 20px;
    }

    gist-file-icon {
      width: 50px;
      text-align: center;
      margin: 0 0 0 -20px;
      padding: 0;
      border-right: 1px solid rgba($header-bg, 0.2);
    }
  }
  gist-body {
    border-radius: 3px;
    overflow: auto;
    > .editor {
      width: calc(100vw - 342px);
      height: calc(100vh - 210px);
    }

    markdown {
      margin: 0 20px;
      width: calc(100vw - 380px);
      display: block;
    }

  }
}
