@import "../../../../assets/colors";

:host {
  background: $header-bg;
  border: 1px solid $header-bg;
  color: #fff;
  border-radius: 3px;
  height: 30px;
  margin: 10px 0;
  font-weight: 100;
  font-size: 14px;
  &[invert] {
    background: #fff;
    border: 1px solid #fff;
    color: $header-bg;
  }
}
