gist-item {
  display: flex;
  padding: 7px;
  flex-direction: row;
  position: relative;
  color: #fff;
  margin: 0;
  cursor: pointer;
  transition: all .3s ease-out;
  background: rgba(255, 255, 255, 0.2);
  opacity: .6;
  align-items: center;

  &::after {
    position: absolute;
    display: none;
    content: '';
    width: 80%;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 10%
  }

  &:hover {
    transition: all 0.3s;
    opacity: 1;
    & gist-private i {
      transition: all 0.3s;
      transform: scale(1.5);
    }
  }
  &[active] {
    background: $bg;
    color: #3F84A8;
    opacity: 1;
    tag {}
    star {}
    files {}
  }
  tag {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  star {
    position: absolute;
    left: 20px;
    font-size: 12px;
    padding: 5px;
    top: 0;
  }
  fork {
    @extend star;
    left: 40px;
  }
  files {
    display: none;
    position: absolute;
    top: 5px;
    font-size: 12px;
    right: 0;
    width: 40px;
  }
  gist-name {
    padding: 0 10px 0 20px;
  }
  gist-private {
    font-size: 22px;
    border-radius: 50%;
    padding: 10px;
    min-width: 10px;
    text-align: center;
  }
}
