gist {
  background: #fff;
  margin: 20px;
  font-weight: 100;
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0px 0px 10px $border-color;

  gist-header {
    display: flex;
    flex: 1;
    padding: 0 20px;
    border-bottom: 1px solid $border-color-light;
    border-radius: 3px 3px 0 0;
    line-height: 50px;
    justify-content: space-between;
    background: $header-bg-lightest;
    color: $color-regular;

    gist-file-name {
      flex: 1;
      font-weight: 600;
    }

    gist-file-icon {
      width: 50px;
      text-align: center;
      margin: 0 0 0 -20px;
      padding: 0;
      border-right: 1px solid rgba($header-bg, 0.2);
    }
  }
  gist-body {
    padding: 0 20px;
    border-radius: 3px;
    overflow: auto;
    width: calc(100vw - 380px);
    max-height: calc(100vh - 210px);
    pre {
      white-space: pre-wrap;
    }
  }
}
