search {
  padding: 0 10px;
  flex-direction: row;
  display: flex;
  flex:1;
  input {
    border: none;
    border-radius: 0;
    height: 30px;
    margin: 10px 0 10px 10px;
    padding: 0 10px;
    width: 100%;
    color: $header-bg;
    border-bottom: 1px solid $header-bg;
  }
  .fa-angle-down {
    line-height: 50px;
    margin: 0px 0px 0px -10px;
  }
}
