@import "../../../../assets/colors";

:host {
  position: absolute;
  background: transparent;
  width: 400px;
  right: 0;
  bottom: 0;
  height: calc(100vh - 100px);
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  margin: 5px;
  pointer-events: none;

  .notification {
    pointer-events: initial;
    margin: 0 10px 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    &:last-child {
      margin: 0 10px 20px 0;
    }

    &-title {
      font-size: 20px;
      font-weight: 100;
      margin: 0 0 10px 0;
    }

    &-icon {
      align-self: center;
      font-size: 22px;
      margin: 0 10px;
      width: 40px;
    }

    &-content {

    }

    &.success {
      background: $color-success;
    }

    &.error {
      background: $color-danger;
    }

    &.info {
      background: $color-info;
    }

    &.warn {
      background: $color-warning;
    }
  }
}
