<sidebar></sidebar>
<content-wrapper>
<content>
  <gist>
      <gist-header>
          <gist-file-icon>
              <span class="fa-stack">
                  <i class="fa fa-file-o"></i>
                  <strong style="font-size: 8px;" class="fa-stack-1x fa-stack-text file-text">js</strong>
              </span>
          </gist-file-icon>
          <gist-file-name>
              &nbsp;&nbsp;file.js
          </gist-file-name>
          <gist-utils>
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <ul>
                  <li>Edit</li>
                  <li>Open on web</li>
                  <li>Download</li>
                  <li>Copy to clipboard</li>
                  <li>Delete</li>
              </ul>
          </gist-utils>
          <gist-utils>
              <i class="fa fa-angle-up" aria-hidden="true"></i>
          </gist-utils>
      </gist-header>
      <gist-body>
          <pre><code class="js">code here</code></pre>
      </gist-body>
  </gist>
  <gist>
      <gist-header>
          <gist-file-icon>
              <span class="fa-stack">
                  <i class="fa fa-file-o"></i>
                  <strong style="font-size: 8px;" class="fa-stack-1x fa-stack-text file-text">css</strong>
              </span>
          </gist-file-icon>
          <gist-file-name>
              &nbsp;&nbsp;someClosedFile.css
          </gist-file-name>
          <gist-utils>
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </gist-utils>
          <gist-utils>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
          </gist-utils>
      </gist-header>
  </gist>
  <gist>
      <gist-header>
          <gist-file-icon>
              <span class="fa-stack">
                  <i class="fa fa-file-o"></i>
                  <strong style="font-size: 8px;" class="fa-stack-1x fa-stack-text file-text">css</strong>
              </span>
          </gist-file-icon>
          <gist-file-name>
              &nbsp;&nbsp; someFile.css
          </gist-file-name>
          <gist-utils>
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </gist-utils>
          <gist-utils>
              <i class="fa fa-angle-up" aria-hidden="true"></i>
          </gist-utils>
      </gist-header>
      <gist-body>
          <pre><code class="css">code here</code></pre>
      </gist-body>
  </gist>

</content>
<comments>
  <i class="fa fa-comment-o" aria-hidden="true"></i> 7
</comments>
</content-wrapper>