@import '~normalize.css';
@import './assets/colors';

body {
  background: $bg;
  font-family: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #555;
  position: fixed;

  .content-wrapper {
    margin: 0 20px;
  }
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  transition: all .3s ease-out;
  color: inherit;
  &:hover {
    opacity: .5;
  }
}

a, button, .pointer {
  cursor: pointer;
}

gisto, app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
