name: Validate

on:
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    strategy:
      fail-fast: false
      matrix:
        task: [lint, ts:lint, test, e2e]

    name: ${{ matrix.task }}

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: useblacksmith/setup-node@v5
        with:
          node-version: 24
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        if: matrix.task == 'e2e'
        run: pnpm exec playwright install chromium

      - run: pnpm ${{ matrix.task }}
